<div class="row">
    <div class="inside">
        <div class="row">
            <div class="panel-group">
                <div class="panel panel-default program" ng-repeat="program in programs">
                    <div class="panel-heading">
                        {{program.name}}
                    </div>
                    <div class="panel-body">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="stage in program.stages">
                            {{stage.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
